{{> menu active="dashboard"}}

<section class="section columns">
  <div class="columns">
    <div class="column">
          {{> list-events}}
    </div>
  </div>
  <div class="columns">
    <div class="column">
        {{> add-event}}
        {{> private-addevent}}
    </div>
  </div>
</section>