{{> menu active="dashboard"}}

<section class="section columns">
  <div class="column">
    {{> list-events}}
  </div>
</section>
<section class="section columns">
    <div class="column">
      {{> add-event}}
    </div>
    <div class="column">
      {{> private-addevent}}
    </div>
</section>