{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{event.title}}
    </div>
    {{> list-stadiums}}
    {{> add-stadium}}
  </div>
  <div class="column">
    {{> event-image}}
  </div>
</section>