<form class="box" action="/event/{{event._id}}/addstadium" method="POST">
  <label>Enter Stadium Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Stadium" name="stadium">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Competition" name="competition">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Rating" name="rating">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Stadium</button>
</form>