<form class="box" action="/dashboard/addevent" method="POST">
  <div class="field">
    <label class="label">Event Title</label>
    <input class="input" type="text" placeholder="Enter event name" name="title">
  </div>
  <button name="eventType" value="private" class="button is-success">Add Public Event</button>
  <button name="eventType" value="public" class="button is-success">Add Public Event</button>
</form>