<form class="box" action="/event/{{event._id}}/addreview" method="POST">
  <label><strong>Review:</strong></label>
  <div class="field">
    <div class="control">
      <textarea class="textarea has-fixed-size" type="text" placeholder="Enter review"></textarea>
    </div>
  </div>
  <button class="button is-link">Add Review</button>
</form>