<form class="box" action="/event/{{event._id}}/addstadium" method="POST">
  <label>Enter Stadium Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field pt-4">
        <label class="label">Stadium</label>
        <input class="input" type="text" placeholder="Enter Stadium" name="stadium">
      </div>
      <div class="field pt-4">
        <label class="label">Competition</label>
        <input class="input" type="text" placeholder="Enter Competition" name="competition">
      </div>
      <div class="field pt-4">
        <label class="label">Rating</label>
        <input class="input" type="text" placeholder="0.0" name="rating">
      </div>
    </div>
  </div>
  
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field pt-4">
        <label class="label">City</label>
        <input class="input" type="text" placeholder="Enter city" name="city">
      </div>
      <div class="field pt-4">
        <label class="label">Latitude</label>
        <input class="input" type="text" placeholder="00.00" name="latitude">
      </div>
      <div class="field pt-4">
        <label class="label">Longitude</label>
        <input class="input" type="text" placeholder="00.00" name="longitude">
      </div>
      <div>
        <label class="label">Select Private/Public Stadium</label>
        <div class="control">
          <label><input type="radio" name="stadiumType" value="public">Public</label>
          <label><input type="radio" name="stadiumType" value="private" checked>Private</label>
        </div>
      </div>
    </div>
  </div>
  <button class="button is-link">Add Stadium</button>
</form>