<form class="box" action="/dashboard/addprivateevent" method="POST">
  <div class="field">
    <label class="label">Event Title</label>
    <input class="input" type="text" placeholder="Enter event name" name="title">
  </div>
  <button class="button is-link">Add Private Event</button>
</form>