<form class="box" action="/event/{{event._id}}/addreview" method="POST">
  <label>Enter Review:</label>
  <div class="control">
    <textarea class="textarea has-fixed-size" type="text" placeholder="Enter review"></textarea>
  </div>
  <button class="button is-link">Add Review</button>
</form>