<Card title="Reviews of Stadiums">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Review</th>
        <th>Added On</th>
      </tr>
    </thead>
    <tbody>
    {{#each event.reviews}}
      <tr>
        <td>{{reviewText}}</td>
        <td>{{formatDate createdAt}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</Card>