<form class="box" action="/dashboard/privateaddevent" method="POST">
  <div class="field">
    <label class="label">Private Event Title</label>
    <input class="input" type="text" placeholder="Enter event name" name="title">
  </div>
  <button class="button is-link" name="eventType" value="private">Add Private Event</button>
</form>