<div class="card">
  <footer class="card-footer">
    <p class="card-footer-item">
      <span> 
        Share on <a href="https://twitter.com/intent/tweet?url=/publicstadiums">Twitter</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span> 
        Share on <a href="https://plus.google.com/share?url=/publicstadiums">Google</a>
      </span>
    </p>
    <p class="card-footer-item">
      <span> 
        Share on <a href="https://www.linkedin.com/shareArticle?mini=true&url=/publicstadiums">LinkedIn</a>
      </span>
    </p>
  </footer>
</div>